<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K.B.A Hostel</title>
    <link rel="stylesheet" href="css/bootstrap.css">
  	<link rel="stylesheet" href="css/glyphicon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://kit.fontawesome.com/fe48c47a95.js" crossorigin="anonymous"></script>
  	<script src="js/jquery.js"></script>
  	<script src="js/bootstrap.js"></script>

    <style>
        .container {
          padding:20px;
          width:600px;
          font-family:arial;

        }
        a{
          color:white;
        }
        header{
          font-family:arial;
        }
         h2{
				font-size:30px;
				font-family:times new roman;
				}
    </style>
</head>
    <body>




      <header style="background:url('h5.jpg');   height:1000px;">
        <br>
        <br>
            <div class="container "  style="border: 2px solid #3366cc ; border-radius:20px; background-color:white;   ">
                <div class="page-header text-center   ">
                  <h2>ENTER NEW-USER DETAILS</h2>
                </div>
               <form action="adduser" method="post" >
                    {% csrf_token %}



               <div class="row">
                    <div  class="form-group col-md-6  ">
                      <label >FIRST NAME: *</label>
                      <input  type="text"  name="first_name"  class="form-control"  placeholder="Enter your first name"required>
                    </div>
                    <div  class="form-group col-md-6  ">
                      <label >LAST NAME: *</label>
                      <input  type="text"  name="last_name"  class="form-control"  placeholder="Enter your last name"required>
                    </div>


               </div>




               <div class="row">
                 <div  class="form-group col-md-6  ">
                   <label >USER NAME: *</label>
                   <input  type="text"  name="username"  class="form-control"  placeholder="Enter your user name"required>
                 </div>


                 <div  class="form-group col-md-6  ">
                   <label >STAFF ID</label>
                   <input type="number"  name="id"  class="form-control" placeholder="Staff ID"required>
                 </div>


             </div>



             <div class="row">
               <div  class="form-group col-md-6">
                 <label > Password:</label>
                 <input type="password"  name="pass1"  class="form-control"  placeholder="Enter your password"required>
               </div>
               <div  class="form-group col-md-6  ">
                 <label >Re-type Password:</label>
                 <input type="password"  name="pass2"  class="form-control"  placeholder="Re-type your password"required>
               </div>


               </div>




               <div class="row">
                   <div  class="form-group col-md-6">
                     <label > GMAIL:</label>
                     <input type="text"  name="email"  class="form-control"  placeholder="sample@abc.com" required>
                   </div>
                   <div class="form-group col-md-6">


                 <label >SUPERUSER:</label>
                 <select name="superuser"  class="form-control" required>
                     <option value="False">False</option>
                    <option value="True">True</option>

                 </select>
               </div>
                   </div>






           <br>
           <br>

              <div class="col-md-6 col-md-offset-2 row" >
                 <button class="btn btn-primary" type="submit" value="update" class="form-control">ADD</button>
               </div>

</form>
                <div>
               <a href="{% url 'adminpanel' %}"><button  class="btn btn-primary" ><span class="glyphicon glyphicon-menu-left"></span>Go Back</a>
                    </div>
                <div class="col-md-6 col-md-offset-4">
               {% if messages %}
               {% for message in messages %}
                   <h2>{{message}}</h2>
               {% endfor %}
               {% endif %}
                    </div>




          </div>
    		</header>



    </body>
</html>
