<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K.B.A Hostel</title>
    <link rel="stylesheet" href="css/bootstrap.css">
  	<link rel="stylesheet" href="css/glyphicon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://kit.fontawesome.com/fe48c47a95.js" crossorigin="anonymous"></script>
  	<script src="js/jquery.js"></script>
  	<script src="js/bootstrap.js"></script>

    <style>
        .container {
          padding:20px;
          width:600px;
          font-family:arial;

        }
        a{
          color:#3366cc;
        }
        header{
          font-family:arial;
        }
    </style>
</head>
    <body>
      {% if staff %}
      <header style="background:url('h5.jpg');   height:1000px;">
        <br>
        <br>
            <div class="container "  style="border: 2px solid #3366cc ; border-radius:20px; background-color:white;   ">
                <div class="page-header text-center   ">
                  <h2> STAFF DETAILS</h2>
                </div>
               <form action="{{staff.id}}" method="post" >

{% csrf_token %}

                 <div class="row">
                      <div  class="form-group col-md-6  ">
                        <label >NAME: </label>
                        <input  type="text"  name="Name" value="{{staff.Name}}" class="form-control" required>
                      </div>

                     <div  class="form-group col-md-6  ">
                       <label >ID</label>
                       <input type="number"  name="ID"  value="{{staff.ID}}" class="form-control" required readonly>
                     </div>
                 </div>




                 <div class="row">
                    <div  class="form-group col-md-6  ">
                      <label >AGE</label>
                      <input type="number"  name="Age" value="{{staff.Age}}" class="form-control" required>
                    </div>

                    <div  class="form-group col-md-6">
                       <div>
                     <label>GENDER:</label>

                 <select name="Gender"  class="form-control" required>
                   <option value="{{staff.Gender}}">{{staff.Gender}}</option>
                   <option value="Male">Male</option>
                   <option value="Female">Female</option>
                 </select>
               </div>
                    </div>


               </div>



               <div class="row">
                 <div  class="form-group col-md-6  ">
                   <label >MOBILE NUMBER:</label>
                   <input  type="text" name="Mbno" value="{{staff.Mbno}}" class="form-control"   required
                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                   type = "number"
                   maxlength = "10"/>

                 </div>
                   <div  class="form-group col-md-6">
                     <label >ALTERNATIVE NUMBER:</label>
                     <input  type="text" name="Alternate_ContactNum" value="{{staff.Alternate_ContactNum}}" class="form-control"  required
                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                     type = "number"
                     maxlength = "10"/>
                    </div>


             </div>




                 <div class="row">
                     <div  class="form-group col-md-6">
                       <label > GMAIL:</label>
                       <input type="email"  name="Gmail" value="{{staff.Gmail}}" class="form-control"   required>
                     </div>
                     <div  class="form-group col-md-6">
                       <label >ADDRESS:</label>
                       <textarea type="text" name="Address" class="form-control" rows="2" cols="80"  required>{{staff.Address}}</textarea>
                     </div>


               </div>

               <div class="row">
                   <div  class="form-group col-md-6">
                     <label > DESIGNATION:</label>
                     <input  type="text"  name="Designation" value="{{staff.Designation}}" class="form-control"  required>
                   </div>
                   <div  class="form-group col-md-6">
                     <label >SALARY:</label>
                     <input  type="text"  name="Salary"   value="{{staff.Salary}}" class="form-control"  required>
                   </div>


             </div>
             <br>
             <br>

                <div class="col-md-6 col-md-offset-2 row" >
                   <button class="btn btn-primary" type="submit" value="update" class="form-control">UPDATE</button>
                 </div>


                <a href="{% url 'staff' %}"><button  class="btn btn-primary" ><span class="glyphicon glyphicon-menu-left"></span>Go Back</button></a>
                 {% if messages %}
                 {% for message in messages %}
                     <h2>{{message}}</h2>
                 {% endfor %}
                 {% endif %}


               </form>



          </div>
    		</header>


      {% endif %}
    </body>
</html>
